p {
  color: red;
}

.text1 {
  color: green;
}

#text1 {
  color: aqua;
}

a[href*="jpg"] {
  color: purple;
}

div p {
  color: rgb(226, 3, 77);
}

div > p {
  color: blue;
}

h1 + p {
  color: lawngreen;
}

div > nav > p#text10 {
  color: rgb(12, 108, 192);
}